<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10" *ngIf="currentProject as currentProject">
        <h1 class="display-2 text-white">{{currentProject?.name}}</h1>
        <p class="text-white mt-0 mb-5"><a href="{{currentProject?.linkToGit}}">
          <span class="btn-inner--icon"><img src="../assets/img/icons/common/github.svg"></span>
          <span class="btn-inner--text">Github</span>
        </a></p>
        <div *ngIf="authority ==='manager'">
          <a (click)="openEdit(contentEdit ,currentProject)" class="btn btn-info">Edit project</a>        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-3 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-0">
          <div class="d-flex justify-content-between" *ngIf="authority ==='manager'">
            <a (click)="addPeople()" class="btn btn-sm btn-info mr-4">Add users in project</a>
          </div>
        </div>
        <div class="card-body pt-0 pt-md-2">
          <div class="text-center">
            <h3>
              Users
            </h3>
            <hr class="my-4" />
            <p *ngFor="let tempUsers of currentProject?.users">{{tempUsers.account?.name}} {{tempUsers.account?.surname}}</p>

          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-9 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <app-tasks [authority]="authority" [currentProject]="currentProject"></app-tasks>
        </div>
      </div>
    </div>
  </div>
</div>



<ng-template #contentEdit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit project</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm" novalidate>
      <div class="form-group">
        <label for="name">Название проекта</label>
        <div class="input-group">
          <input formControlName="name" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="linkToGit">Ссылка на GitHub</label>
        <div class="input-group">
          <input formControlName="linkToGit" class="form-control">
        </div>
      </div>
      <div class="text-center">
        <button data-dismiss="modal" class="btn btn-info" (click)="updateProject()">Сохранить изменения</button>
      </div>
    </form>
  </div>
  <div class="modal-footer pt-md-0 pb-md-4">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Закрыть</button>
  </div>
</ng-template>


