<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">

    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0" align="center" style="color:Black">  User's information</h3>
        </div>

           <table class="table table-bordered p-4">
            <tr>
               <td align="center">Login: </td>
               <td>{{user.login}}</td>
            </tr>
             <tr>
               <td align="center">Role:</td>
               <td>{{user.roles}}</td>
             </tr>
              <tr>
                 <td align="center">Name:</td>
                 <td>{{user.account.name}}</td>
              </tr>
              <tr>
                  <td align="center" >Surname:</td>
                <td>{{user.account.surname}}</td>
              </tr>
              <tr>
               <td align="center">Email:</td>
               <td>{{user.account.email}}</td>
              </tr>
            </table>

        <br>
        </div>
      </div>
    </div>
  </div>

