<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">

    </div>
  </div>
</div>
<div class="container p-8">

<h1>
  Profile
</h1>

  <h2>
    User's info:
  </h2>
    <table>
     <tr>
       <td>Login: </td>
       <td>{{user.login}}</td>
     </tr>
     <tr>
       <td>Role:</td>
       <td>{{user.roles}}</td>
     </tr>
     <tr>
        <td>Name:</td>
        <td>{{user.account.name}}</td>
     </tr>
     <tr>
        <td>Surname:</td>
        <td>{{user.account.surname}}</td>
     </tr>
     <tr>
        <td>Email:</td>
        <td>{{user.account.email}}</td>
     </tr>
    </table>
  <br>
</div>
