<div *ngIf="isLoggedIn; else loggedOut">
  Logged in as {{roles}}.
</div>

<ng-template #loggedOut>
  <div class="row d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="col-lg-4 col-md-3 col-sm-12">
  <div class="card mx-auto  " style="width: 25rem;" >
    <article class="card-body">
      <a href="signup" class="float-right btn btn-outline-primary">Sign up</a>
      <h4 class="card-title mb-4 mt-1">Sign in</h4>
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()"  #f="ngForm" novalidate>
        <div class="form-group">
          <label>Your login</label>
          <input type="text" class="form-control" placeholder="Login" name="login" [(ngModel)]="form.login" #login="ngModel"
                 required />
          <div *ngIf="f.submitted && login.invalid">
            <div *ngIf="login.errors.required">Login is required</div>
          </div>
        </div><!-- form-group// -->
        <div class="form-group">
          <a class="float-right" href="#">Forgot?</a>
          <label>Your password</label>
          <input type="password" class="form-control" placeholder="******" name="password" [(ngModel)]="form.password" #password="ngModel"
                 required minlength="6" />
          <div *ngIf="f.submitted && password.invalid">
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
          </div>
        </div> <!-- form-group// -->
        <div class="form-group">
          <button type="submit"  class="btn btn-primary btn-block"> Login  </button>
          <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
            Login failed: {{errorMessage}}
          </div>
        </div> <!-- form-group// -->
      </form>
    </article>
  </div>
    </div>
  </div>
</ng-template>
