<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Link to git</th>
    <th scope="col">Progress</th>
    <th scope="col">Number of Persons</th>
    <th scope="col">Team</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let tempProjects of listProjects; let i = index">
    <td>{{i+1}}</td>
    <td>{{tempProjects.name}}</td>
    <td>{{tempProjects.linkToGit}}</td>
    <td>{{tempProjects.progress}}</td>
    <td>{{tempProjects.team.numberOfPersons}}</td>
    <td>
      <table class="table">
        <tr *ngFor="let tempUsers of tempProjects.team.users">
          <td>{{tempUsers.login}}</td>
          <td *ngFor="let role of tempUsers.roles">{{role.name}}</td>
        </tr>
      </table>
    </td>
  </tr>
  </tbody>
</table>
