<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Link to git</th>
    <th scope="col">Progress</th>
    <th scope="col">Number of Persons</th>
    <th scope="col">Manager</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let tempProjects of listProjects; let i = index">
    <td>{{i+1}}</td>
    <td><a href="#">{{tempProjects.name}}</a> </td>
    <td><a href="{{tempProjects.linkToGit}}">{{tempProjects.linkToGit}}</a></td>
    <td><progress max="100" value="{{tempProjects.progress}}"></progress> {{tempProjects.progress}}%</td>
    <td>{{tempProjects.numOfPersonsInTeam}}</td>
    <td><a href="#">{{tempProjects.manager.login}}</a></td>
    <td class="overflow-hidden">
      <div ngbDropdown container="body">
        <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle>Actions</button>
        <div ngbDropdownMenu>
          <button ngbDropdownItem (click)="updateProject(tempProjects.id)">Update</button>
          <button ngbDropdownItem (click)="deleteProject(tempProjects.id)">Delete</button>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
