<div *ngIf="isUpdated; else projectDetailsForm">
  Project updated successful.
</div>

<ng-template #projectDetailsForm>
  <div class="row d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="col-lg-4 col-md-3 col-sm-12">
      <div class="card mx-auto  " style="width: 25rem;" >
        <article class="card-body">
          <h4 class="card-title mb-4 mt-1">Project</h4>
          <form class="was-validated" name="form" *ngIf="currentProject" (ngSubmit)="f.form.valid && updateProject()"  #f="ngForm" novalidate>
            <div class="form-group">
              <label>Project name</label>
              <input type="text" class="form-control" name="name" [(ngModel)]="currentProject.name" #name="ngModel" required/>
              <div *ngIf="f.submitted && name.invalid">
                <div *ngIf="name.errors.required"></div>
              </div>
            </div>
            <div class="form-group">
              <label>Link to project GitHub</label>
              <input type="text" class="form-control" name="linkToGit" [(ngModel)]="currentProject.linkToGit" #linkToGit="ngModel" required/>
              <div *ngIf="f.submitted && linkToGit.invalid">
                <div *ngIf="linkToGit.errors.required"></div>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"> Edit  </button>

            </div> <!-- form-group// -->
          </form>
        </article>
      </div>
    </div>
  </div>
</ng-template>
