<div *ngIf="isAdded; else addTaskForm">
  Task added successful.
</div>

<ng-template #addTaskForm>
  <div class="row d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="col-lg-4 col-md-3 col-sm-12">
      <div class="card mx-auto  " style="width: 25rem;" >
        <article class="card-body">
          <h4 class="card-title mb-4 mt-1">Task</h4>
          <form class="was-validated" name="form" *ngIf="currentTask" (ngSubmit)="f.form.valid && addTask()"  #f="ngForm" novalidate>
            <div class="form-group">
              <label>Task title</label>
              <input type="text" class="form-control" name="title" [(ngModel)]="currentTask.title" #title="ngModel" required/>
              <div *ngIf="f.submitted && title.invalid">
                <div *ngIf="title.errors.required"></div>
              </div>
            </div>
            <div class="form-group">
              <label>Description</label>
              <input type="text" class="form-control" name="description" [(ngModel)]="currentTask.description" #description="ngModel" required/>
              <div *ngIf="f.submitted && description.invalid">
                <div *ngIf="description.errors.required"></div>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"> Add  </button>

            </div> <!-- form-group// -->
          </form>
        </article>
      </div>
    </div>
  </div>
</ng-template>
