<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Title</th>
    <th scope="col">Description</th>
    <th scope="col">DateTime</th>
    <th scope="col">SpentTime</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let tempTasks of listTasks; let i = index">
    <td>{{i+1}}</td>
    <td><a href="#">{{tempTasks.title}}</a> </td>
    <td><a href="#">{{tempTasks.description}}</a></td>
    <td><a href="#">{{tempTasks.dateTime}}</a> </td>
    <td><a href="#">{{tempTasks.spentTime}}</a></td>

    <td class="overflow-hidden">
      <div ngbDropdown container="body">
        <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle>Actions</button>
        <div ngbDropdownMenu>
          <button ngbDropdownItem (click)="updateTask(tempTasks.id)">Update</button>
          <button ngbDropdownItem (click)="deleteTask(tempTasks.id)">Delete</button>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
