<!--suppress ALL -->
<div class="container-fluid" *ngIf=" authority === 'manager'">
  <div class="row align-items-center">
    <div class="col-8">
      <h3 class="mb-0">Задачи</h3>
    </div>
    <div class="col-4 text-right">
      <a (click)="open(content)" class="btn btn-sm btn-primary">Добавить задачу</a>
    </div>
  </div>


  <div class="container-fluid py-2">
    <ejs-kanban #kanbanObj keyField='status' [dataSource]='cards | async' [cardSettings]='cardSettings' (dataStateChange)= 'dataStateChange($event)' >
      <e-columns>
        <e-column headerText='To Do' keyField='NEW'></e-column>
        <e-column headerText='In Progress' keyField='ASSIGNED'></e-column>
        <e-column headerText='Testing' keyField='COMPLETED'></e-column>
        <e-column headerText='Done' keyField='CLOSE'></e-column>
      </e-columns>
    </ejs-kanban>
  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Новая задача</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form  name="form" *ngIf="currentTask" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label>Задача</label>
        <input type="text" class="form-control" name="title" [(ngModel)]="currentTask.title" #title="ngModel" required/>
        <div *ngIf="f.submitted && title.invalid">
          <div *ngIf="title.errors"></div>
        </div>
      </div>
      <div class="form-group">
        <label>Описание</label>
        <textarea rows="4" class="form-control form-control-alternative" placeholder="Description"
                  name="description" [(ngModel)]="currentTask.description" #description="ngModel" required></textarea>
        <div *ngIf="f.submitted && description.invalid">
          <div *ngIf="description.errors"></div>
        </div>
      </div>
      <div class="form-group">
        <p><strong>Выберите человека выполняющего задачу</strong></p>
        <p><select name="user" [(ngModel)]="currentTask.user" #users="ngModel" required>
          <option [ngValue]="null" disabled>Выберите исполнителя</option>
          <option *ngFor="let user of currentProject.users"
                  [ngValue]="user">{{user.account.name}} {{user.account.surname}}</option>
        </select>
        </p>
      </div>
      <div class="form-group">
        <button type="submit" data-dismiss="modal" class="btn btn-primary btn-block"> Добавить</button>
      </div> <!-- form-group// -->
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Закрыть</button>
  </div>
</ng-template>


<ng-template #contentStart let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title-start">Начать выполнение задачи</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="startForm" >
      <div class="form-group">
        <label for="title">Задача</label>
        <div class="input-group">
          <input formControlName="title" class="form-control"/>
        </div>
      </div>
      <div class="form-group">
        <label for="description">Описание</label>
        <div class="input-group">
          <textarea formControlName="description" rows="4" class="form-control"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label >Текущее время</label>
        <div class="input-group">
          <p>{{today | date:'dd-MM-yyyy hh:mm a':'+0530'}}</p>
        </div>
      </div>
      <div class="form-group">
        <label>Время за которое планируется выполнить задачу</label>
        <div class="input-group">
          <input type="time" id="spentTime" name="spentTime"
                 min="09:00" max="18:00" formControlName="spentTime" required/>
        </div>
      </div>
      <div class="text-center">
        <button data-dismiss="modal" class="btn btn-info" (click)="startTask()">Начать задачу</button>
      </div>
    </form>
  </div>
  <div class="modal-footer pt-md-0 pb-md-4">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Закрыть</button>
  </div>
</ng-template>
